services:
  altcha.type:
    class: Tito10047\AltchaBundle\Type\AltchaType
    tags: ['form.type']
    arguments:
      $enable: '%altcha.enable%'
      $floating: '%altcha.floating%'
      $overlay: '%altcha.overlay%'
      $overlayContent: '%altcha.overlay_content%'
      $useStimulus: '%altcha.use_stimulus%'
      $hideLogo: '%altcha.hide_logo%'
      $hideFooter: '%altcha.hide_footer%'
      $jsPath: '%altcha.js_path%'
      $i18nPath: '%altcha.i18n_path%'
      $useSentinel: '%altcha.use_sentinel%'
      $challengeUrl: '%altcha.sentinel.challenge_url%'
      $includeScript: '%altcha.include_script%'
      $router: '@router'
  altcha.validator:
    class: Tito10047\AltchaBundle\Validator\AltchaValidator
    tags: ['validator.constraint_validator']
    arguments:
      $enable: '%altcha.enable%'
      $hmacKey: '%altcha.hmacKey%'
      $requestStack: '@request_stack'
  Tito10047\AltchaBundle\Controller\AltchaChallengeController:
    public: true
    autowire: true
    autoconfigure: true
    arguments:
      $challengeOptionResolver: '@Tito10047\AltchaBundle\Service\ChallengeResolverInterface'
  Tito10047\AltchaBundle\Service\ChallengeResolverInterface:
    class: Tito10047\AltchaBundle\Service\ChallengeResolver
    arguments:
      $hmacKey: '%altcha.hmacKey%'
      $expires: '%altcha.expires%'
      $maxNumber: '%altcha.max_number%'
