{% extends "base.html.twig" %}


 {% block body %}

 {{ form(form) }}
	 <div class="hidden">
		 <div id="my-content" class="text-white font-semibold text-xl">
			 Verifying you are human...
		 </div>
	 </div>
 {% endblock %}
