name: "Tests"

on:
  pull_request:
  push:
  schedule:
    - cron:  '* 8 * * *'

jobs:
  compatibility:
    name: "Tests"

    runs-on: ${{ matrix.operating-system }}

    strategy:
      fail-fast: false
      matrix:
        php-version:
          - "8.1"
          - "8.2"
          - "8.3"
          - "8.4"
        symfony:
          - '6.4.*'
          - '7.3.*'
          - '8.0.*'
        operating-system:
          - "ubuntu-latest"
        exclude:
          # Symfony 7.3 does not support PHP 8.1
          - php-version: "8.1"
            symfony: '7.3.*'
            operating-system: "ubuntu-latest"
          - php-version: "8.1"
            symfony: '8.0.*'
            operating-system: "ubuntu-latest"
          - php-version: "8.2"
            symfony: '8.0.*'
            operating-system: "ubuntu-latest"
          - php-version: "8.3"
            symfony: '8.0.*'
            operating-system: "ubuntu-latest"

    steps:
      - name: "Checkout"
        uses: actions/checkout@v4

      - name: Set Node.js 20.x
        uses: actions/setup-node@v3
        with:
            node-version: 20.x

      - name: "Install PHP"
        uses: "shivammathur/setup-php@v2"
        with:
          coverage: "pcov"
          php-version: "${{ matrix.php-version }}"
          ini-values: memory_limit=-1

      - name: "install chromiom"
        uses: "nanasess/setup-chromedriver@v2"

      - name: "Configure Symfony"
        run: 'composer config extra.symfony.require "${{ matrix.symfony }}"'

      - name: "Cache dependencies"
        uses: "actions/cache@v3"
        with:
          path: |
            ~/.composer/cache
            vendor
          key: "php-${{ matrix.php-version }}-symfony-${{ matrix.symfony }}"
          restore-keys: "php-${{ matrix.php-version }}-symfony-${{ matrix.symfony }}"

      - name: "Install highest dependencies"
        run: "composer update --no-interaction --no-progress --no-suggest"

      - name: "Detect drivers"
        run: "vendor/bin/bdi detect drivers"

      - name: "Asset Mapper Install"
        run: "./tests/App/AssetMapper/bin/console importmap:install"

      - name: "Asset Mapper compile"
        run: "./tests/App/AssetMapper/bin/console asset-map:compile"

      - name: "Asset Mapper Install"
        run: "./tests/App/LiveComponent/bin/console importmap:install"

      - name: "Asset Mapper compile"
        run: "./tests/App/LiveComponent/bin/console asset-map:compile"

      - name: "yarn install"
        run: "yarn --cwd tests/App/Webpack/ install"

      - name: "yarn build"
        run: "yarn --cwd tests/App/Webpack/ build"

      - name: "Tests"
        run: "composer test"
